<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>Honeycomb Adventure</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/index.css") %>">
</head>

<body>
  <%= render @view_module, @view_template, assigns %>
  <script src="<%= static_path(@conn, "/index.js") %>"></script>
</body>

</html>
